.App {
  margin-left: 100px;
  margin-top: 100px;
}
  
.table {
  border: 2px solid forestgreen;
  width: 800px;
  height: 200px;
}
  
th {
  border-bottom: 1px solid black;
}
  
td {
  text-align: center;
}